h1 {
  font-family: Noteworthy, serif;
}
body {
  font-family: Century Gothic, serif;
  border: 2px solid black; 
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  line-height: 26px;
  background-color: #aaaaaa;
}
.me img {
  border: 2px solid blue;
  width:170px;
  height:170px;
 display:block;
 margin: auto;
 box-shadow: 10px 10px 5px grey;
}

h1 {
  color: #0000ff;
  ont-family: Century Gothic, serif;
  border: 2px solid black; 
  padding-top: 6px;
  padding-right: 26px;
  padding-bottom: 6px;
  padding-left: 26px;
  text-shadow: 2px 2px #191970;
  box-shadow: 2px 2px #000000;
}


ul li {
  font-size: 18px;
}
.header {
  margin: 6px 26px 6px 26px;
  background-color: #ffff00;
}
.headera {
  padding: 6px 26px 6px 26px;
 background-color: #ffff00;
}
.headerb {
  padding: 10px 10px 10px 10px;
  background-color: #ffff00;
}

.profile {
  font-size: 18px;
  width: 500px;
  padding: 20px;
  border: 1px solid #aaaaaa;
  margin: 30px auto 0 auto;
}
.info {
  font-size: 18px;
  width: 500px;
  padding: 20px;
  border: 1px solid #aaaaaa;
  margin: 30px auto 0 auto;
}
.work {
  font-size: 18px;
  width: 500px;
  padding: 20px;
  border: 1px solid #aaaaaa;
  margin: 30px auto 0 auto;
}

