h1 {
  font-family: Noteworthy, serif;
}
body {
  font-family: Century Gothic, serif;
}
body {
  border: 2px solid black; 
}
img {
  border: 2px dotted blue; 
}
header{
  background-color: #0000ff;
}


