h1 {
  font-family: Noteworthy, serif;
}
body {
  font-family: Century Gothic, serif;
  border: 2px solid black; 
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
}
.me img {
  border: 2px solid blue;
  width:160px;
  height:160px;
  float: center;
}
h1 {
  color: #0000ff;
  ont-family: Century Gothic, serif;
  border: 2px solid black; 
  padding-top: 6px;
  padding-right: 26px;
  padding-bottom: 6px;
  padding-left: 26px;
}
p h3 {
  font-family: Century Gothic, serif;
  border: 2px solid black; 
  padding-top: 6px;
  padding-right: 26px;
  padding-bottom: 6px;
  padding-left: 26px;
}

ul li {
  font-size: 18px;
}


